# Node modules
node_modules/
.pnpm-store/

# Env & Secrets
.env
.env.local
*.pem

# Build output
dist/
build/
.output/

# Prisma & Logs
backend/prisma/*.db
backend/prisma/*.db-journal
*.log
npm-debug.log*

# OS Files
.DS_Store
Thumbs.db
