PORT=5050
NODE_ENV=development
DATABASE_URL="postgresql://postgres:postgrespassword@localhost:5432/elearning_db?schema=public"
JWT_SECRET="super-secret-jwt-key-elearning-2026"
JWT_EXPIRES_IN="1d"
JWT_REFRESH_SECRET="super-secret-refresh-key-elearning-2026"
JWT_REFRESH_EXPIRES_IN="7d"
CORS_ORIGIN="http://localhost:5173"
